# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment
*.egg-info/

# Secrets
.env

# Large model files
*.pkl
*.joblib
*.h5
*.pth